#file{
    padding: 2vh;
    margin: 2vw;
}
.mat-expansion-panel .ng-tns-c53-22 .ng-star-inserted .mat-expanded .mat-expansion-panel-spacing{
    position: fixed;
    height: 40vh;
}
p{
    color: rgb(210, 30, 135);
}