<mat-toolbar>
    <span>cars dashboard</span>
</mat-toolbar>
<br/>
<div class="container-lg container-md-fluid container-sm" >
    <div class="row g-3 p-2 row-md-mx-2">
        <dashboard-most-picked-color class="col-lg-5 col-md-8"></dashboard-most-picked-color>
        <dashboard-engine-by-gender style="display: inline;" class="col-lg-2 col-md-4" ></dashboard-engine-by-gender>
        <dashboard-most-visitor-city class="col-lg-5 col-md"></dashboard-most-visitor-city>

        <dashboard-user-complite-forms class="col-lg-3 col-md-6 h-50"></dashboard-user-complite-forms>
        <dashboard-most-common-hobby class="col-lg-4 col-md-6" ></dashboard-most-common-hobby>
        <dashboard-details-per-country class="col-lg-5 col-md-12 h-100"></dashboard-details-per-country>

    </div>
</div>

